
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
}

body {
    position: fixed;
    width: 99.9%;
    height: 99.8%;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    /* top: -0.5em;
    left: -0.5em; */
    
}

/* Extra small devices (phones, 0px to 575px) */
@media (max-width: 575px) {
    section {
        width: 100%;
        background-color: #5356FF;
    }

    ul li {
        font-size: 14px;
    }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    section {
        width: 80%;
        background-color:  #5356FF;
    }

    ul li {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 70%;
        background-color:  #5356FF;
    }

    ul li {
        font-size: 18px;
    }
}

/* Large devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1920px) {
    .topbar {
        width: 99.97%;
        height: 5em;
        background-color: #525CEB;
        border-top-left-radius: 20px;
        border-top-right-radius:20px;
    }

    .topbar div {
        width: 76%;
        height: 3em;
        /* border:#000 1px solid; */
        float: right;
        margin-top: 0.9em;
        margin-right: 2.7em;
    }

    .topbar div a img {
        width: 1.2em;
        height: 1.2em;
    }

    .date-time-display  {
        margin-left: 1.1em;
        margin-top: 1em;
        color: #fff;
        font-size: 20px;
        font-weight: normal;
    }

    .logged-user {
        float: right;
        margin-right: 2.1em;
        margin-top: -2.5em;
    }

    .sidebar {
        width: 99.99%;
        height: 33em;
        margin-top: -0.98em;
        background-color: #525CEB;
        color: #fff;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .container {
        width: 76.5%;
        height: 30.6em;
        /* border: 1px solid #000000; */
        background-color: whitesmoke;
        margin-top: -32.9em;
        margin-left: 16em;
        border-radius: 20px;
    }

    .control-wrapper {
        width: 96%;
        height: 8%;
        /* border: 1px solid #000; */
        padding-top: 1.5em;
        padding-left: 0.8em;
        margin-left: 0.8em;
        /* border-radius: 20px; */
    }

    .control-wrapper button {
        width: 8em;
        height: 2em;
        color: #000;
        margin-right: 1em;
    }

    .control-wrapper button:hover {
        width: 8em;
        height: 2em;
        color: #ffffff;
        background-color: #525CEB;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }


    /* .add-members-button {
        margin-left: 3em;
        width: 8em;
        color: #000;
    } */

    /* .bookings-button {
        padding-left: 3em;
    }  */

    .control-wrapper input {
        float:right;
        margin-right: 0.9em;
        margin-top: -0.1em;
        height: 1.8em;
        width: 28em;
    }
    

    .search-container {
        width: 2em;
        height: 2em;
        float: right;
        position: relative;
    }

    .search-container button {
        width: 1.5em;
        height: 1.5em;
        margin-right: 1.55em;
        margin-top: -1.9em;
        float: right;
        border: none;
        background-color: transparent;
    }


    .search-container button:hover {
        width: 1.5em;
        height: 1.5em;
        margin-right: 1.55em;
        margin-top: -1.9em;
        float: right;
        border: none;
        background-color: transparent;

    }

    .search-container button img{
        width: 1.5em;
        height: 1.5em;
        margin-right: -0.3em;
        margin-top: -1.em;
        float: right;
    }

    /* .search {
        width: 0.5em;
        height: 2em;
        margin-right: 1.3em;
        float:right;
        display:initial;
    } */

    .stats-count-wrapper {
        width: 97%;
        height: 26%;
        /* border: 1px solid #000; */
        margin-left: 0.8em;
        margin-top: 0.5em;
    }

    .total-members-count-box img {
        width: 6em;
        margin-left: 12em;
        margin-top: 0.4em;
    }

    .total-funds-count-box img {
        width: 5.3em;
        margin-left: 12.5em;
        margin-top: 0.8em;
    } 

    .total-new-members-count-box img {
        width: 6em;
        margin-left: 12em;
        margin-top: 0.4em;
    }


    .heading-wrapper {
        width: 96%;
        height: 4em;
        margin-left: 0.8em;
        padding-left: 0.8em;
        padding-top: -0.5em;
        /* border: 1px solid #000000; */
    }

    .heading-wrapper h1 {
        font-size: 2em;
        color: #000;
        padding-bottom: 1em;
        margin-top: 0;
        padding-top: 0.3em;
    }

    .stats-charts-wrapper {
        width: 97%;
        height: 42.8%;
        /* border: 1px solid #000; */
        margin-left: 0.8em;
        margin-top: 0.4em;
        border-radius: 20px;
    }

    .total-members-count-box {
        width: 19em;
        height: 90%;
        /* border: 1px solid #000; */
        background-color: #B4D4FF;
        margin-left: 0.5em;
        margin-top: 0.35em;
        border-radius: 10px;
    }

    .total-funds-count-box {
        width: 19em;
        height: 90%;
        /* border: 1px solid #000; */
        background-color: #CDF0EA;
        margin-left: 20em;
        margin-top: -7.2em;
        border-radius: 10px;
    }

    .total-new-members-count-box {
        width: 19em;
        height: 90%;
        /* border: 1px solid #000; */
        background-color: #FDF5CA;
        margin-left: 39.5em;
        margin-top: -7.2em;
        border-radius: 10px;
    }

    .total-members-chart-box {
        width: 19em;
        height: 94%;
        border: 1px solid #c0c0c0;
        margin-left: 0.5em;
        margin-top: 0.35em;
        border-radius: 10px;
    }

    .total-funds-chart-box {
        width: 19em;
        height: 94%;
        border: 1px solid #c0c0c0;
        margin-left: 20em;
        margin-top: -12.4em;
        border-radius: 10px;
    }

    .total-new-members-chart-box {
        width: 19em;
        height: 94%;
        border: 1px solid #c0c0c0;
        margin-left: 39.5em;
        margin-top: -12.4em;
        border-radius: 10px;
    }

    .page-switcher {
        width: 93%;
        height: 65%;
        background-color: #fff;
        border-radius: 10px;
        margin-left: 2em;
    }

    .form-container {
        margin-top: -0.5em;
    }

    .sub-form-container {
        /* border:1px solid #ff0000; */
        height: 20em;
        margin-right: 5em;
}



label {
    width: 9.125em; /* 146ox*/
 display: inline-block;

 }

    legend {
        font-weight: bold;
        margin-bottom: 1em;
    }

    form {
        margin-left: 2em;
        margin-right: 2em;
    }

    form input, select {
        width: 14em;
        margin-bottom: 1em;
    }

    form select {
        width: 14.5em;
    }

    .form-column {
        float:right;
        margin-right: 5em;
        margin-top: -18.33em;
    }

    .form-column-alter {
        float:right;
        margin-right: 5em;
        margin-top: -20.8em;
    }

    .form-column-end-of-file {
        float:right;
        margin-right: 5em;
        margin-top: -16.5em;
    }

    .form-buttons {
        width: 12em;
        float: right;
        margin-right: -37em;
        margin-top: -18.4em;
    }

    .form-buttons button {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
    }

    .form-buttons button:hover {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        background-color: #525CEB;
        border: none;
        border-radius: 2px;
        color: #ffffff;
    }

    .form-buttons-alter {
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        float: right;
        margin-right: -1.5em;
        margin-top: -18.3em ;
    }

    .form-buttons-alter-sacraments {
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        float: right;
        margin-right: -1.5em;
        margin-top: -20.7em ;
    }

    .form-buttons-alter-sacraments button {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
    }

    .form-buttons-alter-sacraments button:hover {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        background-color: #525CEB;
        border: none;
        border-radius: 2px;
        color: #ffffff;
    }

    .form-buttons-alter button {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
    }

    .form-buttons-alter button:hover {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        background-color: #525CEB;
        border: none;
        border-radius: 2px;
        color: #ffffff;
    }

    .form-buttons-end-of-file {
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        float: right;
        margin-right: -1.5em;
        margin-top: -17.8em ;
    }

    .form-buttons-end-of-file button {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
    }

    .form-buttons-end-of-file button:hover {
        display: block;
        width: 8em;
        height: 1.8em;
        margin-bottom: 1em;
        background-color: #525CEB;
        border: none;
        border-radius: 2px;
        color: #ffffff;
    }

    ul {
        padding-top: 4em;
        margin-left: 0em;
    }


    ul li {
        font-size: 20px;
        margin-top: 0.5em;
        list-style: none;
    }

    ul li a {
        width: 12.75em; /* Set a fixed width */
        height: 2.5em; /* Set a fixed height */
        text-decoration: none;
        color: #fff;
        padding-left: 4.9em;
        padding-right: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-left: -1.96em;
        box-sizing: border-box;
        display: inline-block;
        text-align: left; 

    }

    ul li a:hover {
        width: 12.75em; /* Set a fixed width */
        height: 2.5em; /* Set a fixed height */
        text-decoration: none;
        background-color: #6365ff;
        padding-left: 4.9em;
        padding-right: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-left: -1.96em;
        box-sizing: border-box;
        /* display: inline-block; */
        text-align: left; 

    }

    .sidebar img {
        width: 1.2em; 
        height: 1.2em;
       margin-left: -3.5em;
       margin-right: 2.5em;
       /* display: block; */
    }
}

  